@model IEnumerable<AppDev2.Models.Product>
@{
	ViewBag.Title = "Index";
}

<h2>Index Products</h2>

@Html.ActionLink("Create a new Product", "Create")

<table class="table table-striped">
	<tr>
		<th>Id</th>
		<th>Product Name</th>
		<th>Product Price</th>
		<th>Delete</th>
		<th>Edit</th>
	</tr>
	@foreach (var product in Model)
	{
		<tr>
			<td>@product.Id</td>
			<td>@product.Name</td>
			<td>@product.Price</td>
			<td>@Html.ActionLink("Delete this product", "Delete", new { id = product.Id })</td>
			<td>@Html.ActionLink("Edit this product", "Edit", new { id = product.Id })</td>
		</tr>
	}
</table>
